@model IEnumerable<RegistroViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do formulario
            </th>
            <th>
                Id do registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFormulario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Cadastro">Edit</a> | *@
                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Cadastro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"asp-controller="Cadastro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
